.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;

  &__content {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__link {
    text-decoration: none;
  }

  &__desc {
    color: #374234;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.45px;
  }
}
